# Auto-detect text files and perform LF normalization
* text=auto

# Zig
*.zig linguist-language=Zig

# Razor / Blazor
*.razor linguist-language=C#
*.cshtml linguist-language=C#

# Go
*.go linguist-language=Go
src-go/** linguist-detectable=true
src-go/** linguist-vendored=false

# Rust
*.rs linguist-language=Rust

# Documentation
*.md linguist-documentation
LICENSE linguist-documentation
